#tree
  %ul
    %li
      = tree_link "app", :open => true
      %ul
        %li= tree_link "controllers"
        %li= tree_link "helpers"
        %li= tree_link "models"
        %li= tree_link "views"
    %li
      = tree_link "config", :open => true
      %ul
        %li= tree_link "application.rb", :file => true
        %li= tree_link "routes.rb", :file => true
        %li
          = tree_link "environments", :open => true
          %ul
            %li= tree_link "development.rb", :file => true
            %li= tree_link "test.rb", :file => true
            %li= tree_link "production.rb", :file => true
        %li= tree_link "initializers"
        %li= tree_link "locales"
    %li= tree_link "lib"
    %li= tree_link "public"
    %li= tree_link "test"

#methods
  #buttons
    .button.alphabetical.active A-Z
    .button.purpose             Purpose

  .method-list
    %h1 Overview
    %ul
      - overview["ActionController::Base"].each do |title, klass|
        %li= title

  #class-level.method-list
    %h1 Class Level
    %ul
      = class_list

  #instance-level.method-list
    %h1 Instance Level
    %ul
      = instance_list

#details
  = render :partial => "details"

  - if @current_class
    .method-groups
      %h1 Class Methods
      .methods
        = preserve code_markdown(render :partial => "class_methods")

  - if @current_instance
    .method-groups
      %h1 Instance Methods
      .methods
        = preserve code_markdown(render :partial => "instance_methods")