!!!5
%html
  %head
    %title Rails API
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'coderay.css', :media => 'print, screen, projection'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag "jquery", "application"
    = csrf_meta_tag
  
  %body
    #page
      = yield